tr > td.azul {
    background-color: aqua;
    opacity: 50%;
  }

  tr > td.red {
    background-color: red;
    opacity: 50%;
  }

  table {
    width: 20%;
    margin-left: 25%;
    background-image: url(../Ejercicio1/imagen/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  p {
    width: 20%;
    margin-left: 25%;
  }

  hr {
    width: 20%;
    margin-left: 25%;
  }