div{
    background-color: white;
    position: sticky;
    top: 0;
    padding-bottom: 5px;
}
a:hover{
    background-color: yellow;
}
a{
    text-decoration: none;
    background-color: lightgray;
    line-height: 50px;
    width: calc(50% - 22px);
    padding: 0 10px;
    display: inline-block;    
}
a:first-of-type{
    border-left: solid #BBBBBB thin;
    border-top: solid #BBBBBB thin;
    border-bottom: solid #BBBBBB thin;
}
a:nth-of-type(2){
    text-align: right;
    border-right: solid #BBBBBB thin;
    border-top: solid #BBBBBB thin;
    border-bottom: solid #BBBBBB thin;
}
p:nth-of-type(2n + 1){
    background-color: aqua;
}