body{
    background-color: black;
    color:white;
}

li{
    display: inline-block;
    height: 80px;
    width: 150px;
    text-align: center;
    vertical-align: top;
}

img{
    display: none;
}


p{
    display: none;
    color:white;
    border: thin solid red;    
}

.visible:hover>* {
    display: block;
}


