.menu {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    border: solid black thin;
    color: white;
    font-size: 20px;
    padding: 0px;
}

ul > li {
    display: inline-block;
    padding: 20px;
    color: white;
}

li > a {
    color: white;
    text-decoration: none;
    display: block;
}

p {
    border: red thin solid;
    border-width: 2px;
    width: 150px;
    color: white;
    position: absolute;
    left: 140px;
    top: 40px;
    float: left;
    font-size: 20px;
    display:none;
}


img {
    border: red 3px solid;
/*    position: absolute;
    top: 50px;
    float: right;*/
    display: none;
}

#uno:hover > img {
    display: block;
}

li>a:hover > p {
    display: block;
}

body {
    background-color: black;

}
