body{
    background-color: red;
}

.azul{
    background-color: blue;
    width: 300px;
    height: 200px; 
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    float:left;
}

.amarillo{
    background-color: yellow;
    width: 300px;
    height: 100px; 
    margin-left: 5%;
    margin-right: 5%;
    float:left;
}

.verde{
    background-color: green;
    margin-top:195px;
    margin-left:  100px;
    margin-right: 100px;
    width:1680px;
    height: 100px;
    float:right;

}





    
