body {
    background-color: antiquewhite;
}

p {
    text-align: justify;
}

img {
    width: 30%;
    /*clear: both;*/
}

#img1 {    
    float: left;
}

#img2 {
    float: right;
}

#img3 {
    width: 50%;
}

.doscolumnas {
    columns: 2;
}