body {
    color: yellow;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 12px;
    text-align:left;
}
h1 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: orange;
    background-color: aqua;
}
h2 {
    font-size: 14px;
    color: white;
}

p {

    text-align: right;
    color: blue;
}