#negro:hover {
  border: 1px solid black;
  background-color: whitesmoke;
}
#negro{
  float:left;
  width: 150px;
  height: 150px;
  border: solid whitesmoke 1px;
  background-color: black;
}
#blanco:hover {
  border: solid whitesmoke 1px;
  background-color: black;
}
#blanco {
  float: right;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: whitesmoke;
}
div>p{
  color: red ;
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
}
#conjunto{
  margin: auto;
  width: 30%;
}
.rep:nth-of-type(2n + 1) {
  background-color: gray;
}
.rep:nth-of-type(2n) {
  background-color: white;
}
.rep {
  text-align: center;
  border-top: none !important;
  border: dashed black 2px;
  color: rgb(218, 9, 218);
  font-weight: bolder;
  font-size: 40px;
  height: 150px;
}
