div:first-of-type{
    float: left;
    border:  thick groove grey ;
    width: 45%;
    margin: 20px;
}
div:last-of-type{

    float: right;
    border:  thick groove grey;
    width: 45%;
    margin : 20px
}
