img{
    display: block;
    position: absolute;
    border: double;
}

img:hover{
   border: solid;
}

img.img1{
    z-index: 1;
    left: 10%;
    top: 10%;
}

img>div:hover{
    z-index: 1;
    left: 10%;
    top: 10%;
    
}

img.img2{
    z-index: 2;
    left: 20%;
    top: 20%;
}

img.img3{
    z-index: 3;
    left: 30%;
    top: 30%;
}

img.img4{
    z-index: 4;
    left: 40%;
    top: 40%;
}

img.img5{
    z-index: 5;
    left: 50%;
    top: 50%;
}