body {

    background-color: royalblue;
}


h3 {

    text-align: center;
}

p.body {

    background-color: cornflowerblue;
}

p.encabezado {

    color: white;

    background-color: blue;
}
div.globalpersonal {

    background-color: royalblue;
}
u.subrayado {
    color: red;
}

div.experiencialaboral {
    background-color: royalblue;
}

b.fechas {

    color: yellow;
}

div.educaciónyformación {

    background-color: royalblue;
}
p.blanco {

    color: white;
}