ul {
    list-style-type: none;
    background-color: gainsboro;
    position: fixed;
    width: 95%;
    height: 50px;
    display: inline;
}


li>a.sig {
    float: right;
    text-align: center;
}
li>a.ant {
    float: left;
    text-align: center;
}