#menu{
    background-color: rgb(230, 227, 227);
    border: thin solid black;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 150px;
}
ul>li{
    list-style: none;
    border-bottom: thin solid black;
    display: block;
    width: 150px;
    height: 35px;
    text-align: center;
    line-height: 30px;
}
ul>li:hover{
    background-color: rgb(209, 209, 209);
    background-image: url(proximo.png);
    background-repeat: no-repeat;
    background-position: left;
}
li>a{
    text-decoration: none;
    color: black;
}