div {
    height: 100px;
    width: 100px;
    /* display: inline; Ignora la altura y anchurad */
    display: inline-block; /* Permite darle anchura y altura. También en bloque, no necesariamente inline-block */
}
#z1
{
    background-color: aqua;
}
#z2
{
    background-color: green;
}
#z3
{
    background-color: yellowgreen;
}