p:first-of-type,p:last-of-type 
{
    color: green;
    text-transform: uppercase;
}
/*p:nth-child(2n+1){ */
p:nth-child(odd){
    background-color: grey;
}
p{
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-size: -50%;
    background-position-x: center;
    background-position-y: center;
}
img{
    margin-left: 45%;  
   
}
img:hover{
    visibility: hidden;
}