body{
    background-image: url(plazaMayor.jpg) ;
}
img{
    position: absolute;
    margin: auto;
    height: 300px;
    width: 400px;
    left: 170px;
}
h1{
    color: ivory ;
    font-size: 70px;

   /* display: block; */
    margin: auto;
    height: 300px;
    width:400px;
    z-index: 2;

    position: absolute;
    top: 170px;
    left: 270px;
}